@import
url('https://fonts.googleapis.com/css?family=Sansita');

body {
    background-image: url("images/bg.jpg");
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
}

body > header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+33,207cca+33,207cca+33,2989d8+33,008000+33,008000+66,0000ff+66,0000ff+100,7db9e8+100 */
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff0000 33%, #207cca 33%, #207cca 33%, #2989d8 33%, #008000 33%, #008000 66%, #0000ff 66%, #0000ff 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff0000 33%,#207cca 33%,#207cca 33%,#2989d8 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff0000 33%,#207cca 33%,#207cca 33%,#2989d8 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    height: 45px;
    text-align: center;
    color: #FFFF00;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;

}

aside {
    margin-top: 10px;
    float: left;
    background-color: rgba(245, 230, 254, 0.9);
    border-radius: 15px;
    display: block;
}

aside > nav > header {
    text-decoration: underline;

    font-weight: bold;
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 0 20px 0 20px;
}

li > a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    width: 165px;
    margin-left: 15px;
    margin-right: 15px;

}

li > a:before {
    content: url('images/a.png');
    margin-right: 5px;
}


li:hover:nth-child(even) {
    background-color: #008000;
    border-radius: 30px;
}

li:hover:nth-child(odd) {
    background-color: #FF0000;
    border-radius: 30px;
}

article {

    background-color: rgba(245, 230, 254, 0.9);
    border-radius: 15px;
    color: #000000;
    margin: 20px 300px 20px 300px;
    padding: 20px;
}

section article #webColors {
    color: #ffffff;
    background-color: #FF0000;
    border-radius: 15px;
    padding: 5px;
}

section article p:first-line {
    font-style: italic;
}

section article p:first-letter {
    font-size: 36px;
}

section article #RGBA {
    color: #ffffff;
    background-color: #008000;
    border-radius: 15px;
    padding: 5px;
}

section article [id="#HSLHSV"] {
    color: #ffffff;
    background-color: #800080;
    border-radius: 15px;
    padding: 5px;
}

footer a {
    color: #68576b;
    font-size: 14px;
}